@import './contants';

.form-container {
  .Form {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 20px auto;
    justify-content: space-between;
    height: 140px;
    input {
      padding: 0 5px;
    }
    button {
      background-color: $default-green;
      height: 30px;
      border: solid 1px $default-gray;
      border-radius: 3px;
      color: white;
      &:hover {
        border: solid 2px $default-gray;
        background-color: #95d092;
        cursor: pointer;
      }
    }
    .signup-link {
      margin-top: 10px;
      a {
        color: black;
      }
    }
  }
  .errors-list {
    text-align: center;
    font-size: 15px;
    margin: 0 15px;
  }
}
