@import './contants';

.Header {
  background-color: $default-blue;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 10px;
  color: $default-black;
  .current-path {
    text-align: center;
    width: 90%;
    font-weight: bold;
  }
}