.Home {
  height: 80%;
  text-align: center;
  margin: 0 15px;
}

.CurrentEvaluation {
  margin-top: 20%;
  .header {
    h2{
      margin-bottom: 15px;
    }
  }
  .mood-emoji {
    height: 90px;
    margin: 40px auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: white;
    width: 90px;
    border-radius: 50%;
  }
  .evaluation-el {
    margin: 5px 0;
    background-color: white;
    padding: 5px;
    border: solid 1px lightgray;
    border-radius: 5px;
    h4 {
      margin-bottom: 5px;
    }
  }
}