.MoreMenu {
  margin: 40px 20px;
  .user {
    display: flex;
    align-items: center;
    svg {
      height: 60px;
      width: 40px;
      margin-right: 20px;
    }
  }
  p {
    margin: 20px 0;
  }
  button {
    width: 90px;
  }
}